.project-container:hover {
  cursor: pointer;
}

.project-logo {

  //display:none !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  img, svg {
    max-height: 100%;
    max-width: 100%;
    // doesnt work in safari
    min-height: 100%;
    min-width: 100%;

    path {
      fill: #fff;
    }
  }
}

