<div class="sub-page" id="work">
  <nav><a [routerLink]="'/'">←</a></nav>

  <div class="content" [ngClass]="{'project-choosen': selectedproject}">

    <div class="intro blackend-box">
    <h1>Seneste projekter</h1>
      <p>Her kan du læse lidt om nogle af de seneste projekter jeg har været indvolveret i.</p>
    </div>

      <div class="projects">

      <project class="project-container blackend-box" [ngClass]="{'active': selectedproject == project.key}" *ngFor="let project of projects | slice:0:6;" [project]="project" [routerLink]="['/latest-work', project.key]"></project>

      <project-info class="project-element blackend-box" [ngClass]="{'active': selectedproject == project.key}" *ngFor="let project of projects | slice:0:6;" [project]="project"></project-info>

      </div>
    <div class="closure blackend-box">
    <p>Andre projekter: <a href="https://scleroseforeningen.dk/">Sclerose foreningen</a>, <a href="http://ida.dk/">Ingeniørforeningen</a>, <a href="http://engineerthefuture.dk/">Engineer the Future</a>, flere <a href="http://www.ting.dk/content/om-dingting">ding projekter</a> for biblioteker.</p>

    <p>Se også <a class="social-icon github-icon" href="https://github.com/troelslenda" title="GitHub profile">Github</a> og <a class="social-icon codepen-icon" href="http://codepen.io/trogels/" title="Codepen profile">codepen.io</a></p>
    </div>
  </div>
  <div class="background-image" background="MyBigMindMap.jpg">
    <div class="color"></div>
  </div>
</div>
