
.sub-page {
  overflow: hidden;

}

.content {

  padding: 6vh 10px 0 10px;

  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;

  height: 94vh;
}


.projects {
  margin: 0 -10px;
  height:100%;
  justify-content: center;
  flex-grow: 1;
  display:grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  &.project-choosen {
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .project-element {
    grid-column: 1 / span 2;
    grid-row: 1;
  }


  @media all and (min-aspect-ratio: 1/1) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    &.project-choosen {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 2fr;
    }
    .project-element {
      grid-column: 3;
      grid-row: 1 / span 3;
    }

  }
}



.selected_project {
  border: 1px solid blue;
  margin: 10px;
}

.project-container {
  overflow: hidden;
  display: block;

  border: 1px solid red;
  margin: 10px;
    //grid-column-start: 1;
    //grid-column-end: 2;
    //grid-row-start: 1;
    //grid-row-end: 3;

}


.project-element {
  display: none;
  margin: 10px;
  &.active {
    display: block;
  }
}

.active {
  border: 1px solid blue;
}
