<div class="sub-page">

  <div class="ipsccollage">
    <gallery-component id="gallery-item-1" class="gallery-item height-50 width-50" initflip="1000" flip="6000" image="11393362_866974530004373_7917964011542374922_o.jpg">
      <p number="1">IPSC er en skydesport hvor de 3 egenskaber hastighed, præcision samt kraft er lige vigtige.</p>
      <p number="4">Nogle baner kan skydes fra en position, andre skal man løbe op til 100 meter</p>
      <p><a >Læs mere</a></p>
    </gallery-component>
    <gallery-component id="gallery-item-2" class="gallery-item height-50 width-50" initflip="1200" video="ipsc.mp4">
      <p number="2">Der skydes på mål fra alt fra 2-80 meter. Nogle af målene er under bevægelse</p>
    </gallery-component>
    <gallery-component id="gallery-item-3" class="gallery-item height-50 width-25" initflip="1400" image="10533448_10153567115674840_6001934708958659034_n.jpg">
      <p number="6">Når tiden starter så skal banen gennemføres så hurtigt som muligt uden at kompromitere præcisionen og sikkerheden.</p>
    </gallery-component>
    <gallery-component id="gallery-item-4" class="gallery-item height-50 width-50" initflip="1600" image="11836755_10153464575264840_148873506163064077_n.jpg">
      <p number="3">Banerne er aldrig de samme, så der er hele tiden nye udfordringer.</p>
      <p number="5">Du må afgive så mange skud du vil, men kun 2 i hvert mål tæller.</p>
    </gallery-component>
    <div class="gallery-item height-50 width-25">
      <gallery-component id="gallery-item-5" class="gallery-item height-50" initflip="1800" image="IMG_0028.JPG"></gallery-component>
      <gallery-component id="gallery-item-6" class="gallery-item height-50" initflip="2000" image="IMG_2652.JPG"></gallery-component>
    </div>
  </div>
</div>
