.goback {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #039be5;
  padding: 10px;
  z-index: 3;
}

.ipsccollage {
  height: 100%;
  font-size: 0;
  vertical-align: top;
  background: black;
}

.gallery-item {
  .gallery-item{ display: block }
  display: inline-block;
}

.width-50 {
  width: 50%;
}
.height-50 {
  height: 50%;
}
.width-25 {
  width: 25%;
}
.height-25 {
  height: 25%;
}
