.badge-container {
    text-align: center;
    margin: 50px 0;
}
.badge{
    background-color: rgba(240,240,240,.5);
    color: #000;
    display: inline-block;
    border: 10px solid #a8d8f0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    padding: 10px 30px;
    border-radius: 30px;
    transform: rotate(-5deg);
    box-shadow: 5px 5px 5px black;
}
.badge h1, .badge h3 {
    margin: 0;
}


a {
    color: #a8d8f0;
}


.landing-page {
    height: 100%;
}

.landing-page .background {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width:100%;
    top:0;
    left:0;

}
.landing-page .background:before {
    content: '';
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background-image: url('/src/app/hello/images/img-0022.jpg');
    filter:  sepia(100%) hue-rotate(180deg);
    background-size: cover;
    background-position: center center;

}
.landing-page .background small {
    position: absolute;
    right: 20px;
    bottom: 20px;

}
.landing-page .background small a{
    color: #444444;
}


.landing-page .background-blur {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 50%;
    top:0;
    left:0;
}

.landing-page .background-blur .background2 {
    position: relative;
    width: 200%;
    height: 100%;
}

.landing-page .background-blur .background2:after {

    content: '';
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background-image: url('/src/app/hello/images/img-0022.jpg');
    background-size: cover;
    background-position: center center;
    filter: blur(10px) sepia(100%) hue-rotate(180deg);
}



.content {
    box-sizing: border-box;
    color: #fff;
    padding:30px;
    padding-left: 25%;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    z-index: 3;
    baorder: 1px solid red;
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.9);
}


